<!--The content below is only a placeholder and can be replaced.-->
<div>
<div class="title" style="text-align:center">
  <h1>
    CadStock RealTime
  </h1>
</div>

<div class="input-stock">
<input id="input-name" class="form-control" #symbol placeholder="Please enter stock ticker symbol...">
<button id="add-name" class="btn btn-primary" (click)="addStock(symbol.value)">Add</button>
</div>
<div class="stock-card">
<div *ngIf="stocks.length == 0">Please Add stocks by ticker symbol!!!</div>
<div *ngFor="let stock of stocks;" class="stock-stack">
  <div class="stock-tile">{{stock}}</div>
  <div class="stock-tile">23.34</div>
</div>
</div>



</div>