
.title{
    margin:25px auto;
    color: #00a8ff;
}
.input-stock {
    text-align: center;
    display: flex;
    align-items: center;
    place-content: center;
}
.stock-card{
    margin-top: 5%;
    text-align: center;
}

#input-name{
    width: 60%;
    /* height: 30px; */
    /* padding: 10px; */
}
#add-name {
    height: 40px;
    width: 100px;
    margin-left: 10px;
    background-color: #8c7ae6;
    border-color: #8c7ae6;
}

.stock-stack {
    width: 70%;
    height: 50px;
    margin: 0px auto;
    display: flex;
    place-content: space-between;
    align-items: center;
}

.stock-tile {
    margin-top: 8px;
    padding: 0px;
    flex-basis: 20%;
}


.stock-stack {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
.stock-stack:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  @media only screen and (min-width: 200px) and (max-width: 600px) {
   h1{
       font-size: 30px;
   }
    #node1 {
    width: 90%;
    }
  }

  #node1
{
	float: left;
    width: 400px;
    padding: 10px 0px;
    box-shadow: 0 0 40px 0 rgba(38, 34, 98, 0.1);
    border-left: 7px solid #8c7ae6;
}

#node3
{
	float: left;
	width: 60%;
    font-size: 20px;
    text-align: center;
}
#node4
{
	float: left;
	width: 40%;
	font-size: 20px;
}
#node5
{
    margin-left: 3%;
	float: left;
	width: 47%;
	font-size: 10px;
}
#node6
{
    margin-left: 3%;
	float: left;
	width: 47%;
	font-size: 10px;
}
#node7
{
    margin-left: 3%;

	float: left;
	width: 47%;
	font-size: 10px;
}
#node8
{
    margin-left: 3%;
	float: left;
	width: 47%;
	font-size: 10px;
}
#node9
{
    margin-left: 3%;
	float: left;
	width: 47%;
	font-size: 10px;
}
#node10
{
    margin-left: 3%;
	float: left;
	width: 47%;
	font-size: 10px;
}

.stock-tiles {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    /* flex-basis: 50%; */
    /* flex-direction: unset; */
    flex-direction: row;
    justify-content: space-around;
}

.stock-tile-for{
    margin: 5px 10px;
    /* display: flex;
    justify-content: space-evenly; */
}
/* .cards{
    display: flex;
} */
